* {
  font-family: "Roboto";
  font-size: 12px;
}
body {
  background-color: rgb(205, 199, 199);
}
.App {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: -10px;
}

.column {
  flex: 1;
}

.column h2 {
  text-align: center;
}

.column > div {
  margin-bottom: 8px;
}

.content {
  background-color: white;
  height: 70%;
  padding: 4px;
  overflow: auto;
}

.content p {
  font-size: 10px;
  overflow: hidden;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 4px;
  border-radius: 20px;
}

.search-icon {
  margin-right: 4px;
  color: gray;
  cursor: pointer;
}
